<form role="form" class="form-horizontal"
      ng-controller="ExportCtrl">
  <div class="form-group">
    <label class="col-sm-3 adjusted-right-padding control-label text-right"
           popover="Dimensionality Reduction"
           popover-trigger="mouseenter">Export:</label>

    <div class="col-sm-3 no-left-padding adjusted-right-padding">
      <select class="form-control input-sm"
              ng-disabled="exportMethods.length <= 1"
              ng-show="true"
              ng-model="exportMethod"
              ng-options="method for method in exportMethods">
      </select>
    </div>
    <div class="col-sm-6 no-left-padding">
      <button type="button" class="btn btn-default btn-sm"
              ng-click="export()">Export</button>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 adjusted-right-padding control-label text-right"
           popover="Dimensionality Reduction"
           popover-trigger="mouseenter">Ids:</label>

    <div class="col-md-9 col-sm-offset-3 no-left-padding">
      <textarea ng-model="idStrings" class="form-control"></textarea>
    </div>
  </div>
</form>
