<!DOCTYPE html>
<html lang="en" ng-app="contigBinningApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link href="libs/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href="libs/parcoords/d3.parcoords.css" rel="stylesheet">
    <link href="libs/dimredplot/dimredplot.css" rel="stylesheet">
    <link href="css/light.css" rel="stylesheet" id="maincss">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Parallel Coordinates for R</a>
        </div>

        <form class="navbar-form navbar-right form-inline">
          <div class="form-group" ng-controller="NameHighlightCtrl" ng-hide="noHighlightAvailable">
            <label class="control-label col-lg-4" for="rowNameHighlight">Highlight</label>
            <input type="text" id="rowNameHighlight" class = "col-lg-5 input-sm"  ng-model="rowName" ng-change="highlightRow()">
          </div>
          <div class="form-group" ng-controller="DataIndicatorCtrl">
            <progress ng-click="changeScale()" max="1" animate="false">
              <bar ng-repeat="bar in counts track by $index"
                   value="bar.rows / rowCount"
                   type="{{bar.type}}">
                <b ng-hide="(bar.rows / rowCount) < 0.15">{{bar.rows}}</b>
              </bar>
            </progress>
          </div>
          <div class="form-group" ng-controller="ThemeCtrl">
            <label class="control-label">Theme:</label>
            <div class="btn-group">
              <label class="btn btn-default" ng-model="theme" btn-radio="'light'">Light</label>
              <label class="btn btn-default" ng-model="theme" btn-radio="'dark'">Dark</label>
            </div>
          </div>
        </form>
      </div>
    </nav>

    <div id="main" class="container-fluid">
      <!-- Top half of the sceen -->
      <div id="top" class="row">
        <div id="colourmap"  class="col-lg-1">
          <div class="colourmap" ng-controller="ColourmapCtrl">
          </div>
        </div>
        <div id="parcoords" class="col-lg-11">
          <div class="parcoords" ng-controller="ParcoordsCtrl">
          </div>
        </div>
      </div>

      <!-- Bottom half of the sceen -->
      <div id="bottom" class="row">
        <!-- Control tabs -->
        <div id="controls" class="col-lg-5">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#actions" role="tab" data-toggle="tab">Analyze</a></li>
            <li><a href="#appearance" role="tab" data-toggle="tab">Parallel Coordinates</a></li>
            <!--<li><a href="#scatterplot" role="tab" data-toggle="tab">Dim. Red. Plot</a></li>-->
            <li><a href="#export" role="tab" data-toggle="tab">Export</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane container-fluid active" id="actions">
              <ng-include src="'js/templates/filterctrl.html'"></ng-include>
              <ng-include src="'js/templates/clusterctrl.html'"></ng-include>
              <ng-include src="'js/templates/dimredctrl.html'"></ng-include>
            </div>
            <div class="tab-pane container-fluid" id="appearance">
              <ng-include src="'js/templates/colorctrl.html'"></ng-include>
              <ng-include src="'js/templates/parcoordsctrl.html'"></ng-include>
            </div>
            <!--
            <div class="tab-pane container-fluid" id="scatterplot">
              <ng-include src="'js/templates/dimreddisplayctrl.html'"></ng-include>
            </div>
            -->
            <div class="tab-pane container-fluid" id="export">
              <ng-include src="'js/templates/exportctrl.html'"></ng-include>
            </div>
          </div>
        </div>

        <!-- Scatterplot -->
        <div id="charts" class="col-lg-7" ng-controller="ChartsCtrl">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#dimRedPlot" role="tab" data-toggle="tab">Dimensionlity Reduction Plot</a></li>
            <li><a href="#twodmap" ng-hide="!location" role="tab" data-toggle="tab">2D map</a></li>
          </ul>
          <div id="chartsContent" class="tab-content">
            <div id="dimRedPlot" class="tab-pane container-fluid active" ng-controller="DimRedPlotCtrl">
            </div>
            <div id="twodmap" ng-hide="!location" class="tab-pane container-fluid" ng-controller="MapCtrl">
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="libs/lodash/lodash-2.4.1.min.js"></script>
    <script src="libs/jquery/jquery-1.11.1.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.js"></script>
    <script src="libs/opencpu/opencpu-0.5.js"></script>
    <script src="libs/d3/d3.min.js"></script>
    <script src="libs/d3/d3.svg.multibrush.js"></script>
    <script src="libs/d3/colorbrewer.js"></script>
    <script src="libs/parcoords/d3.parcoords.js"></script>
    <script src="libs/dimredplot/dimredplot.js"></script>
    <script src="libs/dimredplot/scatterplot.js"></script>
    <script src="libs/dimredplot/barplot.js"></script>
    <script src="libs/dimredplot/variancepercentageplot.js"></script>
    <script src="libs/dimredplot/colourmap.js"></script>
    <script src="libs/mapplot/mapplot.js"></script>
    <script src="libs/angularjs/angular-1.2.21.min.js"></script>
    <script src="libs/ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services/dataset.js"></script>
    <script src="js/controllers/namehighlightctrl.js"></script>
    <script src="js/controllers/chartsctrl.js"></script>
    <script src="js/controllers/clusterctrl.js"></script>
    <script src="js/controllers/clusterconfigctrl.js"></script>
    <script src="js/controllers/dataindicatorctrl.js"></script>
    <script src="js/controllers/exportctrl.js"></script>
    <script src="js/controllers/mapctrl.js"></script>
    <script src="js/controllers/parcoordsctrl.js"></script>
    <script src="js/controllers/parcoordsvarsctrl.js"></script>
    <script src="js/controllers/scatterplotctrl.js"></script>
    <script src="js/controllers/filterctrl.js"></script>
    <script src="js/controllers/dimredctrl.js"></script>
    <script src="js/controllers/dimredplotctrl.js"></script>
    <script src="js/controllers/colorctrl.js"></script>
    <script src="js/controllers/themectrl.js"></script>
    <script src="js/controllers/variableselectionctrl.js"></script>
    <script src="js/controllers/dimreddisplayctrl.js"></script>
    <script src="js/controllers/colourmapctrl.js"></script>
    <script src="js/services/analytics.js"></script>
    <script src="js/services/assert.js"></script>
    <script src="js/services/color.js"></script>
    <script src="js/services/opencpu.js"></script>
    <script src="js/services/parcoords.js"></script>
    <script src="js/services/r.js"></script>
  </body>
</html>
