<!DOCTYPE html>
<html lang="en" ng-app="contigBinningApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link href="libs/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href="libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="libs/bootstrap/css/bootstrap-multiselect.css" rel="stylesheet">
    <link href="libs/parcoords/d3.parcoords.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body ng-controller="AppCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Parallel Coordinates for R</a>
        </div>
      </div>
    </div>

    <div id="main">
      <div id="parcoords" class="parcoords" ng-controller="ParcoordsCtrl">
      </div>

      <div id="controls" class="row">
        <div class="col-lg-8 col-lg-offset-2">

          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#actions" role="tab" data-toggle="tab">Actions</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane container-fluid active" id="actions">

              <form role="form" class="form-horizontal" ng-controller="FilterCtrl"
                    ng-show="itemsBrushed || dataFiltered">
                <div class="form-group">
                  <label class="col-lg-1 control-label text-right">Filter:</label>

                  <div class="col-lg-11">
                    <button type="button" class="btn btn-sm btn-success"
                            ng-show="itemsBrushed" ng-click="keepSelected()"
                            ng-disabled="filteringInProgress">
                      Keep selected</button>
                    <button type="button" class="btn btn-sm btn-danger"
                            ng-show="itemsBrushed" ng-click="removeSelected()"
                            ng-disabled="filteringInProgress">
                      Remove selected</button>
                    <i class="fa fa-circle-o-notch fa-spin" ng-show="filteringInProgress"></i>
                    <button type="button" class="btn btn-sm btn-default"
                            ng-show="dataFiltered" ng-click="reloadData()"
                            ng-disabled="filteringInProgress">
                      Reload data</button>
                  </div>
                </div>
              </form>

              <form role="form" class="form-horizontal" ng-controller="ClusterCtrl" ng-show="dataAvailable">
                <div class="form-group">
                  <label class="col-lg-1 control-label text-right">Cluster:</label>

                  <div class="col-lg-2 adjusted-rigth-padding">
                    <select class="form-control input-sm">
                      <option>kmeans</option>
                      <option>correlation-based</option>
                    </select>
                  </div>
                  <div class="col-lg-9 no-left-padding">
                    <button type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-cog"></span>
                    </button>
                    <select multiple class="multiselect">
                      <option>gene_length</option>
                      <option>M4</option>
                      <option>M20</option>
                      <option>M28</option>
                      <option>M36</option>
                      <option>M40</option>
                      <option>M44</option>
                      <option>M48</option>
                      <option>gc_content</option>
                    </select>
                    <button type="button" class="btn btn-default btn-sm"
                            ng-disabled="configurationInvalid">Cluster</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <script src="libs/underscorejs/underscore-1.6.0.js"></script>
    <script src="libs/jquery/jquery-1.11.1.js"></script>
    <script src="libs/bootstrap/js/bootstrap.js"></script>
    <script src="libs/bootstrap/js/bootstrap-multiselect.js"></script>
    <script src="libs/opencpu/opencpu-0.5.js"></script>
    <script src="libs/d3/d3.js"></script>
    <script src="libs/parcoords/d3.parcoords.js"></script>
    <script src="libs/angularjs/angular-1.2.21.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/appctrl.js"></script>
    <script src="js/controllers/parcoordsctrl.js"></script>
    <script src="js/controllers/filterctrl.js"></script>
    <script src="js/controllers/clusterctrl.js"></script>
    <script src="js/services/dataset.js"></script>
  </body>
</html>
