<form role="form" class="form-horizontal" ng-controller="ESCGCtrl">
  <div class="form-group">
    <label class="col-sm-3 adjusted-right-padding control-label text-right"
           popover="Dimensionality Reduction"
           popover-trigger="mouseenter">Unique:</label>

    <div class="col-sm-6 no-left-padding adjusted-right-padding">
      <input class="form-control" type="text" placeholder="{{uniqueGenes}}" readonly>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 adjusted-right-padding control-label text-right"
           popover="Dimensionality Reduction"
           popover-trigger="mouseenter">Multicopy:</label>

    <div class="col-sm-6 no-left-padding adjusted-right-padding">
      <input class="form-control" type="text" placeholder="{{multiCopyGenes}}" readonly>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 adjusted-right-padding control-label text-right"
           popover="Dimensionality Reduction"
           popover-trigger="mouseenter">Missing:</label>

    <div class="col-sm-6 no-left-padding adjusted-right-padding">
      <input class="form-control" type="text" placeholder="{{missingGenes}}" readonly>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 adjusted-right-padding control-label text-right"
           popover="Dimensionality Reduction"
           popover-trigger="mouseenter">Total:</label>

    <div class="col-sm-6 no-left-padding adjusted-right-padding">
      <input class="form-control" type="text" placeholder="{{totalGenes}}" readonly>
    </div>
  </div>

</form>
