<form role="form" class="form-horizontal"
      ng-controller="ClusterCtrl"
      ng-enable="canCluster">
  <div class="form-group">
    <label class="col-sm-3 control-label adjusted-right-padding text-right">Cluster:</label>
    <div class="col-sm-9 no-left-padding">
      <button type="button" class="btn btn-default btn-sm"
              ng-click="openSelectionDialog()">
        <i class="fa fa-cog"></i>
        <span>Configure and perform clustering</span>
      </button>
    </div>
  </div>
</form>
