<form role="form" class="form-horizontal"
      ng-controller="ColorCtrl"
      ng-show="dataAvailable">
  <div class="form-group">
    <label class="col-lg-1 control-label text-right">Color:</label>

    <div class="col-lg-3 adjusted-rigth-padding">
      <select class="form-control input-sm"
            ng-model="colorVariable"
            ng-options="variable.name group by variable.group for variable in variables">
        <option value="">-- choose variable --</option>
      </select>
    </div>
    <div class="col-lg-2 no-left-padding adjusted-rigth-padding">
      <select class="form-control input-sm"
              ng-model="colorMethod"
              ng-show="colorMethods.length >= 1"
              ng-disabled="colorMethods.length <= 1"
              ng-options="method for method in colorMethods">
      </select>
    </div>
    <div class="col-lg-2 no-left-padding adjusted-rigth-padding">
      <select class="form-control input-sm"
              ng-model="colorScheme"
              ng-show="colorSchemes.length >= 1"
              ng-disabled="colorSchemes.length <= 1"
              ng-options="scheme for scheme in colorSchemes">
      </select>
    </div>
    <div class="col-lg-2 no-left-padding">
      <button type="button" class="btn btn-sm btn-default"
              ng-show="colorVariable != undefined"
              ng-click="applyColoring()">
        Apply</button>
    </div>
  </div>
</form>
