<div id="dimreddisplayctrl">
  <form role="form" class="form-horizontal"
    ng-controller="DimRedDisplayCtrl">
    <div class= "row">
      <div class="col-lg-3 adjusted-right-padding">
        <label >Cluster Count:</label>
      </div>
      <div class="col-lg-3 adjusted-right-padding">
        <label  id="clusterCount">No Clustering</label>
      </div>
    </div>
    <div class= "row">
      <input type="range" min="1" max="13" value="13" step="1" id="clusterCountSlider" class="col-lg-6"/>
    </div>
  </form>
</div>