<!-- Control tabs -->
<div class="modal-dialog">
  <div class="modal-content ng-scope">
    <div class="modal-body ng-scope">
      <tabset>

        <tab heading="Analyze">
          <ng-include src="'js/templates/filterctrl.html'"></ng-include>
          <ng-include src="'js/templates/clusterctrl.html'"></ng-include>
          <ng-include src="'js/templates/dimredctrl.html'"></ng-include>
        </tab>

        <tab heading="Parallel Coordinates">
          <ng-include src="'js/templates/colorctrl.html'"></ng-include>
          <ng-include src="'js/templates/parcoordsctrl.html'"></ng-include>
        </tab>

        <tab heading="Tags">
          <ng-include src="'js/templates/tagctrl.html'"></ng-include>
        </tab>

        <tab heading="Export">
          <ng-include src="'js/templates/exportctrl.html'"></ng-include>
        </tab>

        <tab heading="ESCGs">
          <ng-include src="'js/templates/escgsctrl.html'"></ng-include>
        </tab>

        <button id="SwitchOptions" type="button" class="btn btn-default btn-sm"
                ng-click="switchOptions()">
          <span class="glyphicon glyphicon-transfer"></span>
        </button>

      </tabset>
    </div>
  </div>
</div>
