<div id="scatterplotControlAndVis">
  <div id="scatterplotControl" class="col-lg-4"> 
    <form role="form" class="form-horizontal"
          ng-controller="ScatterplotCtrl">
        
      <div class="form-group">
        <label class="col-lg-4 control-label text-right">Data Type:</label>

        <div class="col-lg-4 adjusted-right-padding">
          <select class="form-control input-sm"
                  ng-model="scatterPlotDataType"
                  ng-options="scatterDataType for scatterDataType in scatterDataTypes">
            <option value="">-- choose variable --</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div id="scatterplotDiv" class="col-lg-4" ng-controller="ScatterplotCtrl">
  </div>
</div>