@import url("../libs/bootstrap/css/bootstrap-slate.min.css");
@import url("main.css");

.progress-bar-brushed {
  background-color: #aeb9c2;
}

.parcoords .axis line, .parcoords .axis path {
  fill: none;
  stroke: #c8c8c8;
  shape-rendering: crispEdges;
}

.parcoords text {
  fill: #c8c8c8;
}

.dimredplot .individual.scatterplot .selected {
    fill: white;
    stroke: white;
}